.error__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkred;
  position: absolute;
  border: 1px solid red;
  padding: 5em;
  background-color: white;
  top: 30%;
  left: 25%;
  right: 25%;
}